@charset "ISO-8859-1";

.custH1 {
	color: rgb(170, 0, 190);
	text-transform: capitalize;
	background: black;
}

.custTabRow {
	border: medium;
	border-color: black;
	padding: 2px;
}

.custTabCell {
	border:thin;
	border-color: black;
	padding: 4px;
	margin: 4px
}
